*{
    text-align: center;
    background-color: #F6EEE3;
    font-family: 'Josefin Sans', sans-serif;     /*Sets background color font and text alignment for any HTML document linked to this CSS document*/
}

body{
    margin: 0;
    padding: 0;
}

header{
    position: fixed;
    border: 5px solid #000;
    z-index: 1;
    width: 100%;
    height: 120px;
    box-sizing: border-box;
}

nav li{
    display: inline-block;
    margin-left: 10px;
}

li a{
    color: #000;
    text-decoration: none;
}



